* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background: #a8f4fe;
}
.buttons {
  margin: 50px;
}
.buttons button {
  background: #333;
  color: #fff;
  border: 0;
  outline: 0;
  width: 120px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  border-radius: 2px;
}
#snackBox {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
}
.snack {
  width: 350px;
  height: 60px;
  background: #fff;
  font-weight: 500;
  margin: 15px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  display: flex;
  align-items: center;
  position: relative;
  transform: translateX(100%);
  animation: moveleft 0.4s linear forwards;
}
@keyframes moveleft {
  100% {
    transform: translateX(0);
  }
}
.snack img {
  width: 20px;
  height: 20px;
  margin: 0 20px;
}
.snack::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #00ba00;
  animation: prog 5s linear forwards;
}
@keyframes prog {
  100% {
    width: 0;
  }
}
.snack.error::after {
  background: #ff0000;
}
.snack.invalid::after {
  background: #ffd700;
}
